doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/js/lib/phaser.min.js")
    script(src="/js/game/main.js")
  body
    block content
